/* External CSS */
h2 {
  color: brown;
  font-family: sans-serif;
  border: 2px solid green;
}

/* CSS Universal Selector */
* {
  color: red;
  background-image: url("./Assets/peakpx.jpg");
}

/* CSS Class Selector */
.one {
  color: plum;
  font-style: italic;
}

/* CSS Element Selector */
h3 {
  color: chartreuse;
  font-weight: lighter;
}

/* CSS ID Selector */
#two {
  color: cyan;
}

/* CSS Box Model */

.all-boxes {
  display: flex;
}

.box-one {
  color: azure;
  border: 2px solid chocolate;
  margin: 20px;
  padding: 10px;
  height: 100px;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
}

.box-two {
  color: cadetblue;
  border: 2px dashed red;
  margin: 20px;
  padding: 10px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.box-three {
  color: darkorange;
  border: 2px dotted whitesmoke;
  margin: 20px;
  padding: 10px;
  height: 100px;
  width: 100px;
  text-align: center;
}
